<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleepingbear.znnews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_webview"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".WordViewActivity"
            android:label="@string/title_activity_word_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Study2Activity"
            android:label="@string/title_activity_study2"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Study3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Study4Activity"
            android:label="@string/title_activity_study4"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".VocabularyActivity"
            android:label="@string/title_activity_vocabulary"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".SentenceViewActivity"
            android:label="@string/title_activity_sentence_view"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Study5Activity"
            android:label="@string/title_activity_study5"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".LogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatchActivity"
            android:label="@string/title_activity_patch"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".MySampleActivity"
            android:label="@string/title_activity_my_sample"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".WebDictionaryActivity"
            android:label="@string/title_activity_web_dictionary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebTranslateActivity"
            android:label="@string/title_activity_web_translate"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>